* {
  margin: 0px;
  padding: 0px;
  font-family: 'Jost', sans-serif;
}

body {
  overflow-x: hidden;
  position: relative;
}



 .mm-menu-link-hover-effect{
  border:1px solid black;
  width:20px;
  
}
a.text-decoration-none.text-dark:hover.mm-menu-link-hover-effect{
  border:1px solid gray;
  width: 20px;
  background-color: #777777;
} 
 
.menu-link{
  color:#000000;
}
.menu-link:hover{
  color:red;
}


.mm-navbar-links {
  line-height: 0.5;
}


.mm-products-heading-1 {
  display: inline-block;
  position: relative;
  color: var(--black);
}

.mm-products-heading-1:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--black);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.mm-products-heading-1::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

nav {
  position: fixed;
}

.sticky-nav {
  position: sticky;
  top: 0;
  background-color: #fff;
}


/* declaring font,color variables to make reusebility of code */
:root {

  --red: #ff0000;
  --black: #000000;
  --yellow: #BDD70C;
  --lite: #ffffff;
  --lightgray: #f6f6f6;
  --mmbut-hover: #fb5d5d;
  --lightgreen: #BDD70C;

}

.mm-nav-wraper {
  display: none;
}

.navbar-nav {
  gap: 36px;
}


nav.navbar.navbar-expand-lg.navbar-light.mm-nav {
  padding: 15px 41px;
}

.mm-sliders {
  height: 570px;
}

/* varible declaring section ends here */

/* custom class defined for taking gap between two seperate sections with range of 100px 75px top and bottom */
.container-px {
  padding: 0px 40px;
}

.container-p-right {
  padding-left: 40px;
}

.p-10 {
  padding: 100px;
}

.pb-10 {
  padding-bottom: 100px;
}

.pt-10 {
  padding-top: 100px;
}

.p-8 {
  padding: 75px;
}

.pb-8 {
  padding-bottom: 70px;
}

.pb-7 {
  padding-bottom: 70px;
}

.pt-7 {
  padding-top: 70px;
}

.fw-bold {
  font-weight: 500 important;
}

/* custom class defined for taking gap between two seperate sections with range of 100px 75px top and bottom section ends here  */

/* headings custom classes */
.h-6 {

  font-size: 20px;
}

.h-7 {
  font-size: 15px;
}

.h-4 {

  font-size: 18px;
  line-height: 1.5;
  color: var(--black);
}

.h-3 {

  font-size: 30px;
  font-weight: normal;
  color: var(--black);
}

.h-2 {

  font-size: 38px;
  font-weight: 500;
  color: var(--black);
}

.slide3-heading{
  font-size: 35px;
  font-weight: 500;
    line-height: 90px;
    letter-spacing: 0px;
    font-weight: 300;
    font-size: 55px;
}
.h-1 {
  font-size: 35px;
  font-weight: 500;
    line-height: 90px;
    letter-spacing: 0px;
    font-weight: 300;
    font-size: 70px;
}

.p-font-style {
  margin: 0;
  font-size: 15px;

  line-height: 1.7;
  font-weight: normal;
  color: var(--black);
}

.dropdown-menu.megamenu {
  height: 362px;
}

.storiessection-date {
  font-size: 13px;
}

/* headings custom clases ends here */

/* navbar custom clases */
.mm-nav-link {
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1px;

}

.mm-nav-icons {
  color: var(--black);
  font-size: 24px;
}

.mm-nav-icons:hover {
  color: var(--red);
}

.mm-menulink {
  font-size: 14px;
}

.mm-login-dropdown {
  width: 300px;
}

/* megamenu link list font size */

/* slider code-starts here */
.mm-shop-this-look-button {
  background-color: var(--lite);
  border-style: none;
  padding: 18px 35px;
}

.mm-shop-this-look-button:hover {
  background-color: var(--black);
  color: var(--lite);
}

.mm-shop-this-look-arrow {
  transform: rotate(45deg);
}

button.mm-shop-this-look-button:hover .mm-shop-this-look-arrow {
  transform: rotate(90deg);
  fill:#fff;

}

.mm-discover-hijab-fashion-butn {
  background: linear-gradient(125deg, #ff1053, #d50cbf);
  color: var(--lite);
  border: none;
  cursor: pointer;
  padding: 12px 30px;
  border-radius: 5px;
}

.mm-discover-hijab-fashion-butn:hover {
  background: #f70568;
  transition: opacity .45s cubic-bezier(0.25, 1, 0.33, 1),
    transform .45s cubic-bezier(0.25, 1, 0.33, 1),
    border-color .45s cubic-bezier(0.25, 1, 0.33, 1), color .45s cubic-bezier(0.25, 1, 0.33, 1),
    background-color .45s cubic-bezier(0.25, 1, 0.33, 1),
    box-shadow .45s cubic-bezier(0.25, 1, 0.33, 1);
}

/* slider code ends here */

/* logo crousel code-starts here */
.mm-logo-carousel-background-color {
  background-color: var(--lightgray);
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.mm-logo-carousel {
  background-color: var(--lightgray);
  overflow: hidden;
  padding: 5px 0;
  white-space: nowrap;
  position: relative;
}

.mm-logo-carousel:before,
.mm-logo-carousel:after {
  position: absolute;
  top: 0;
  width: 170px;
  height: 100%;
  z-index: 2;
}

.mm-logo-carousel:before {
  left: 0;
}

.mm-logo-carousel:after {
  right: 0;
}

.mm-logo-carousel:hover .mm-logo-carousel-slide {
  animation-play-state: paused;
}

.mm-logo-carousel-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.mm-logo-carousel-slide img {
  height: 100px;
  margin: 0 10px;
}

/* logo crousel code-starts here */

/* produtcs menuhover code-strats here */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--black);
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--black);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* produtcs menuhover code-ends here */


.mm-product-price {
  font-weight: 500;
}

.mm-product-price-strike {
  font-size: 16px;
  color: gray;
  font-weight: 500;
}

.mm-product-price-strike {
  background-color: transparent;
  background-image: gradient(linear, 19.1% -7.9%, 81% 107.9%, color-stop(0, transparent), color-stop(.48, transparent), color-stop(.5, #000), color-stop(.52, transparent), color-stop(1, transparent));
  background-image: repeating-linear-gradient(163deg, transparent 0%, transparent 48%, black 50%, transparent 52%, transparent 100%);
}

.flex-this {
  display: flex;
  justify-content: start;
  align-items: center;

}

.mm-products-heading-block {
  display: block;
}

.product-brand {
  font-weight: 600;
}

.product-tittle {
  font-weight: 400;
}

.mm-products-heading {
  color: #999;
}

.mm-products-heading:hover {
  color: black;
}

.mm-products-heart {
  color: var(--red);
}

.mm-products-images span {
  top: 20px;
  right: 20px;

}

.mm-product-card {
  border: none !important;
  border-radius: 0px !important;
}

.mm-product-card:hover {
  border: none !important;
  border-radius: 0px !important;
  box-shadow: 0 0 8px rgba(0, 0, 0, .1);
}


.mm-products-top-images {
  position: absolute;
  opacity: 0;
}

.mm-products-top-images:hover {
  opacity: 1;
}

.mm-product-button {
  border-style: none;
  background-color: var(--black);
  color: var(--lite);
  padding: 15px 55px;
}

.mm-product-button:hover {
  background-color: var(--mmbut-hover);
  color: var(--lite);
}

button.mm-product-button:hover .product-button-arrow {
  transform: rotate(90deg);
}

.price--line-through {
  font-size: 15px;
  color: red;
}

.price--line-through {
  background-color: transparent;
  background-image: gradient(linear, 19.1% -7.9%, 81% 107.9%, color-stop(0, transparent), color-stop(.48, transparent), color-stop(.5, #000), color-stop(.52, transparent), color-stop(1, transparent));
  background-image: repeating-linear-gradient(163deg, transparent 0%, transparent 48%, black 50%, transparent 52%, transparent 100%);
}

/* productssection code ends here */

/*shop by category section custom clases*/
.mm-shop-by-category-butn {
  background-color: var(--lite);
  width: 250px;
  height: 112px;

}

.category-col {
  flex-basis: 0px;
}

.mm-category-btn {
  background-color: var(--lite);
  width: 250px;
}

.mm-gallery-image-bottom-marging {
  margin-bottom: 1.3rem;
}

/*shop by category section custom clases ends here*/

/* rating-section code strats here */
.mm-signup-section-col-4-bagroundcolor {
  background-color: var(--lightgreen);
}

.mm-signup-section-button{
  background-color: var(--lite);
  border-style: none;
  padding: 10px 20px;
}

.mm-signup-section-button:hover{
  background-color: var(--black);
  color: var(--lite); 
}
.span.mm-signup-section-button:hover.mm-signup-section-button-arrow{
  transform: rotate(40deg)!important;
  fill:#fff;
}
/* .mm-signup-section-button-arrow{
  transform: rotate(45deg);
} */
/* rating-section code strats here */

/* colorbaground-section starts here */
.discover-all-blogs {
  height: 250px;
  z-index: -1;
  width: 100%;
  margin-top: -90px;
  background-color: #fed9d9;
}

.mm-discover-all-blogs-arrow {
  transform: rotate(45deg)!important;
}

.mm-discover-all-blogs-underline {
  height: 2px;
  background-color: var(--black);
  width: 160px;
}

/* discoverall-blogs-section starts here */

/* blogs section-code */

.mm-blogpost-card {
  border: none !important;
  border-radius: 0px !important;
  box-shadow: 0 0 8px rgba(0, 0, 0, .1);
}

.mm-stories-underline {
  height:2px;
  background-color: var(--red);
  width:84px;
}

/* stories section codestarts here */
.mm-beauty-fashion-heading-block {
  display: block;
}

img.mm-fashionbeauty-sectionimages {
  height: 100px;
  width: 100px;
  border-radius: 12px !important;
}


.mm-fashionbeauty-sectiontext {
  margin: 0;
  font-size: 15px;
  line-height: 1.7;
  font-weight: 550;
  color: var(--black);
}

.mm-fashion-card {
  border: none !important;
  border-radius: 10px !important;
  box-shadow: 0 0 8px rgba(0, 0, 0, .1);
}

/* stories section code ends here */

/* footer strts here */

.mm-footer-log {
  color: #000;
  font-size: 17px;
  letter-spacing: 3px;
}

.mm-footer-headings {
  color: #000;
  font-family: "GlacialIndifference-Regular", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 2px;
}
.mm-footer-heading{
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 3px;
  font-size: 13px;
}

.mm-footer-text {
  color: #6d6d6d;
  font-family: "GlacialIndifference-Regular", Sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 32px;
}

.mm-footer-logo-section-text {
  color: #6d6d6d;
  font-family: "GlacialIndifference-Regular", Sans-serif;
  font-size:13px;
  font-weight: 400;
  line-height: 24px;

}

.mm-footer-logo-section-text:hover {
  color: #000000;
}

.mm-footer-text:hover {
  color: #000000;
}

.footer-background {
  background-color: #f6f6f6;
}

.mm-footer-icons:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, .1);
}


.mm-footer-copyright {
  color: #868686;
  font-family: "GlacialIndifference-Regular", Sans-serif;
  font-size: 13px;
  font-weight: 400;

}

.mm-form-email {
 
  background-color: #f6f6f6;
  font-family: "GlacialIndifference-Regular", Sans-serif;
  font-size:13px;
  font-weight: 400;
  line-height: 24px;
  border-style: solid;
  border-width: 0 0 2px;
  border-color: #000;
  padding: 6px;
  margin: 0 10px 0 0;
}

.mm-footer-button{
  border-style: solid;
  border-width: 0 0 2px;
  border-color: #000;
  /* margin: 0 10px 0 0; */
  padding:3px;
  margin-top:9px;
}


/* footer ends here */
/* form on heover */

.mm-login-dropdown {
  width: 300px;
}
.mm-form-input {
  padding: 16px;
  border: 1px solid var(--black);
  font-size: 12px;
  color: red;
}

.mm-form-signin {
  font-weight: 600;
}

.btn.mm-form-button {
  padding: 15px;
  font-weight: 500;
  font-size: 12px;
  background-color: #fb5d5d;
  color: white;
}

.mm-form-label {
  font-size: 14px;
  color: #000000;
}

.mm-form-line {
  background-color: var(--black);
  height: 1px;
  width: 100%;
}

.mm-form-12pxtext {
  font-size: 12px;

}

.mm-form-text-color {
  color: #fb5d5d;
}

.mm-form-width {
  width: 320px;
}

.mm-form-px {
  padding: 12px 18px;
}

.dropdown-menu.mm-login-dropdown.dropdown-menu-right.mm-form-width {
  border-radius: 0px;
  border: none;
  box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}


.footer-icons1 {
  border: 1px solid black;
  border-style: solid;
  border-width: 1px;
  border-color: #d5d5d5;
  border-radius: 50%;
  color: black;
  padding: 10px;

}

.footer-icons1:hover {
  border-color: #000;
}

.mm-footer-2col {
  display: flex;
  justify-content: end;
}

img.mm-nav-wraper {
  display: none;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap");

.modishmuslima {
  --su-primary-color: black;
  --su-secondary-color: black;
  --su-nav-link-color: var(--bs-dark);
}

.modishmuslima.modishmuslima-btn {
  transform: translateY(0px);
  transition: all 12s;
  background-color: var(--su-primary-color);
  color: var(--bs-white);
}

.modishmuslima.modishmuslima-btn:hover {
  transform: translateY(5px);
}

.modishmuslima-header {
  z-index: 9;
}

.modishmuslima-header ul,
.modishmuslima-header ol,
.modishmuslima-header p,
.modishmuslima-header h1,
.modishmuslima-header h2,
.modishmuslima-header h3,
.modishmuslima-header h4,
.modishmuslima-header h5,
.modishmuslima-header h6,
.modishmuslima-header figure {
  margin: 0;
  padding: 0;
}

.modishmuslima-header ul.navbar-nav li.nav-item {
  margin: 0 1.25rem;
}

@media (min-width: 1200px) {
  .modishmuslima-header ul.navbar-nav li.nav-item {
    margin: 0 1.85rem;
  }
}

.modishmuslima-header ul.navbar-nav li.nav-item a.nav-link {
  color: var(--su-nav-link-color);
  padding: 2rem 0;
  font-size: 0.9rem;
  font-weight: 500;
  position: relative;
}

.modishmuslima-header ul.navbar-nav li.nav-item a.nav-link:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 24px;
  width: 100%;
  border-bottom: 2px solid var(--su-primary-color);
  transform: scaleX(0);
  transition: all 0.7s ease;
}

.modishmuslima-header ul.navbar-nav li.nav-item a.nav-link.active:before {
  transform: scaleX(1);
}

/* .modishmuslima-header ul.navbar-nav li.nav-item a.nav-link.active::after {
  border-color: var(--bs-dark);
} */

.modishmuslima-header ul.navbar-nav li.nav-item a.nav-link:hover:before {
  transform: scaleX(1);
}

/* .modishmuslima-header ul.navbar-nav li.nav-item a.nav-link:hover:after {
  border-color: var(--su-nav-link-color);
} */

.modishmuslima-header ul.navbar-nav li.nav-item:last-of-type a.nav-link {
  margin-right: 0;
  padding-right: 0;
}

.modishmuslima-header ul.navbar-nav li.nav-item:first-of-type a.nav-link {
  margin-left: 0;
  padding-left: 0;
}

.modishmuslima-header ul.navbar-nav .dropdown-menu {


  border-radius: 0;
  box-shadow: 0 0px 10px rgba(37, 37, 37, 0.12);
  margin: 0;
  background: #fff;
  border: none;
  transition: all 0.3s;
  top: 115% !important;
  z-index: 9;
}

.modishmuslima-header ul.navbar-nav .dropdown-menu a.dropdown-item {
  padding: 0.35rem 1rem;
  transition: all 0.7s;
  font-size: 0.9rem;
  color: var(--su-nav-link-color);
  font-weight: 500;
}

.modishmuslima-header ul.navbar-nav .dropdown-menu a.dropdown-item:after {
  border-color: var(--su-nav-link-color);

}

.modishmuslima-header ul.navbar-nav .dropdown-menu a.dropdown-item:hover {
  padding-left: 1.5rem;
  color: var(--su-primary-color);
}

.modishmuslima-header ul.navbar-nav .dropdown-menu a.dropdown-item:hover:after {
  border-color: var(--su-primary-color);
}

.modishmuslima-header ul.navbar-nav .dropdown-menu a.dropdown-item.active {
  color: var(--su-primary-color);
}

.modishmuslima-header ul.navbar-nav .dropdown-toggle:after {
  border-color: var(--su-nav-link-colork);
  box-sizing: border-box;
  height: 0.4em;
  font-size: 12px;
  width: 0.4em;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: all 12s;
  margin-left: 0.355em;
}

.modishmuslima-header ul.nav-controls li {
  color: var(--su-nav-link-color);
  transition: all 12s;
}

.modishmuslima-header ul.nav-controls li:hover {
  color: var(--su-primary-color);
}

.modishmuslima-header .offcanvas-toggle .icon-wrapper {
  z-index: 0;
  color: var(--bs-dark);
  transition: all 12s;
}

.modishmuslima-header .offcanvas-toggle:hover .icon-wrapper {
  color: var(--su-primary-color);
}

.modishmuslima-header .offcanvas-toggle:hover .icon-wrapper:before {
  opacity: 1;
}


@media screen and (min-width: 992px) {
  .modishmuslima-header .dropdown .dropdown-menu {
    opacity: 0;
    visibility: hidden;
    display: block;
    min-width: 12em;
  }

  .modishmuslima-header .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: 100% !important;
  }
}




/* Mobile CSS */

@media (min-width: 320px) and (max-width: 480px) {

  /* Category Section CSS HOME */
  .categories-list {
    flex-wrap: wrap;
  }

  .category-col {
    flex-basis: unset;
  }

  .mm-nav-icons {
    margin-top: 20px;
    display: none;
  }

  .mm-navbar-links {
    margin-top: 70px;
  }

  .mm-menu-hover-content {
    display: block;
  }

  .mm-nav-logo {
    width: 50px;
  }

  .navbar-nav {
    gap: 0px;
  }

  .h-1 {
    font-size: 29px;
    font-weight: 500;
  }

  .h-2 {

    font-size: 38px;
    font-weight: 500;
    color: var(--black);
  }

  .container-px {
    padding: 0px 0px;
  }

  .container-p-right {
    padding-left: 0px;
  }


  nav.navbar.navbar-expand-lg.navbar-light.mm-nav {
    padding: 10px 10px;
  }

  .mm-navicons {
    display: none;
  }

  .modishmuslima-header ul.navbar-nav li.nav-item a.nav-link {
    color: var(--su-nav-link-color);
    padding: 1rem 0 !important;
    font-size: 0.9rem;
    font-weight: 500;
    position: relative;
  }

  .mm-footer-2col {
    padding-top: 5px;
    display: flex;
    justify-content: start;
  }

  .mm-rating-section {
    padding: 20px 0px 10px;
  }

  .mm-nav-wraper {
    background-color: #fff;
    display: block;
  }

  img.mm-nav-wraper {
    display: block;
  }

  .mm-products-heading-gap {
    display: none;
  }

  .mm-beauty-fashion-heading-gap {
    display: none;
  }

  .mm-footer-img {
    display: none;
  }

  .mm-footer-copyright {
    font-size: 13px;
    color: #6d6d6d;
    text-align: center;
    align-items: center;
  }

  .mm-products-heading-block {
    display: none;
  }

  .mm-beauty-fashion-heading-block {
    display: none;
  }

  header {
    position: fixed;
    top: 0px;
    background-color: #fff;
  }

  .mm-productsection-responsive-border {
    padding: 10px;
    border-top: 3px solid#777777;
    border-left: 3px solid#777777;
    border-right: 3px solid#777777;
  }


  .mm-form-email {
    background-color: #f6f6f6;
    font-family: "GlacialIndifference-Regular", Sans-serif;
    font-size:10px;
    font-weight: 400;
    line-height: 24px;
    border-style: solid;
    border-width: 0 0 2px;
    border-color: #000;
    padding: 6px;
    margin: 0 10px 0 0;
  }
}

